@tailwind base;

a:hover {
  /* @apply border-b-2 border-blue-700; */
  text-decoration: none
}

@tailwind components;

@tailwind utilities;

.bk-primary {
  background-color: #7A5CFA;
}

label {
  color: #666666 !important;
}

.borderCircle {
  border-color: #666 !important;
}